<div class="page-header">
  <h1><%= @space.name %></h1>
</div>

<%= render 'shared/form_errors', object: @space %>

<div>
  Description: <%= @space.description %>
  <br/>
  Address: <%= @space.address %>
  <br/>
  Total Seats: <%= @space.total_seats %>
  <br/>
  Participated Users: <%= @space.participated_users.count %>
  <br/>
  Start time: <%= @space.start_time %> | End time: <%= @space.end_time %>
  <br/>
  Amenities: <%= @space.amenities.try(:join, ', ') %>
</div>
<%= render 'shared/space_seats_availability', space: @space %>

