<div class="row" style="padding-top: 10px;">
  <h2>Create New Office Space</h2>
  <%= form_for @space, class: "bootstrap-center-form-medium"  do |f| %>
    <%= render 'shared/form_errors', object: @space %>

    <div class="form-controls">
      <%= f.label "Name *" %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label "Address *" %>
      <%= f.text_area :address, class: "form-control" %>
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
      <%= f.label :total_seats %>
      <%= f.text_field :total_seats, class: "form-control" %>
      <%= f.label :start_time %>
      <%= f.select :start_time, timing_list, class: "form-control" %>
      <%= f.label :start_time %>
      <%= f.select :end_time, timing_list, class: "form-control" %>
      <br />
      <%= f.label :amenities %>
      <%= f.select :amenities, Space::AMENITIES.map { |a| [a, a] }, { include_hidden: false },
        { multiple: true, class: "form-control" } %>
      <br />
      <%= f.submit f.object.new_record? ? "Create" : "Update" %>
    </div>
  <% end %>
</div>

